# Cepheus Peripherals

# Grippers
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:1a.0-usb-0:1.1.4:1.0", SYMLINK+="arduino_ee", MODE="0660", GROUP="dialout"
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:1a.0-usb-0:1.1.5:1.0", SYMLINK+="arduino_base", MODE="0660", GROUP="dialout" 
 
# Panel Accelerometers
SUBSYSTEM=="tty", ATTRS{serial}=="557353231363518002F0", SYMLINK+="arduino_single_acc3", MODE="0666"
SUBSYSTEM=="tty", ATTRS{serial}=="7543730383035160B0C1", SYMLINK+="arduino_double_acc1_2", MODE="0666"

# IMU
SUBSYSTEM=="tty", ATTRS{serial}=="DB9YAJKF", SYMLINK+="my_imu", MODE="0666"

# FT Sensor
SUBSYSTEM=="tty", ATTRS{serial}=="AV0KIA75", SYMLINK+="my_ft_sensor", MODE="0666"

